@use 'base/variables';
@use 'utilities/mixin';

@use 'base/general';
@use 'components/header';
@use 'components/footer';

@use 'pages/index';
@use 'pages/muebles';
@use 'pages/asientos';
@use 'pages/contacto';
@use 'pages/nosotros';

@use 'base/mediaqueries';
