@use '../base/variables';
.section-fotos {
    .asientos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
    
        img {
        width: 100%;
        height: auto;
        display: block;
        border: variables.$color-border 2px solid;
        border-radius: 8px;
        box-shadow: variables.$color-box-shadow 0 4px 10px;
        transition: transform 0.35s ease, box-shadow 0.35s ease;
        width: 100%;
        height: auto;
        display: block;
        
            &:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            }
        }
    }
}



