/*estilo del formulario de contacto*/
@use '../utilities/extended';
@use '../base/variables';
@use '../utilities/maps' ;

.formulario {
    .contacto {
        background-color: variables.$color-primario;
        text-align: center;
        font-family: "Nunito Sans", sans-serif;
        color: black;
        padding: 2rem;
        border: variables.$color-border 2px solid;
        max-width: 400px;
        margin: 0 auto;

        ul {
            input:focus-visible {
                outline: variables.$color-terciario;
                outline-offset: 2px;
                border-color: variables.$color-terciario;
            }
        }

        .mensaje {
            .btn-contacto {
        @extend .btn;
                }
            }
        }
    }
