/*seccion grilla pag. muebles */
@use '../base/variables';
@use '../utilities/mixin';

.muebles-fotos {
    .container-fotosmuebles {
        div {
            img {
                border: variables.$color-border 2px solid;
                border-radius: 8px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                transition: transform 0.6s ease, box-shadow 0.35s ease;
                border-radius: 8px;

                &:hover {
                    @include mixin.hover-tarjeta(1.10);
                }
            }
        }
    }
}