/*seccion grilla pag. muebles */
.muebles-fotos{
    .container-fotosmuebles{
        img {
            /*border: $color-border 2px solid;*/
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
            transition: transform 0.35s ease, box-shadow 0.35s ease;
            border-radius: 8px;
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            }
        }
    }
}


