@use '../base/variables';


.btn {
    padding: 8px 16px;
    background-color: variables.$color-terciario;
    color: #fff;
    border-radius: 8px;
    transition: 0.3s ease;
    display: inline-block;

    &:hover {
    transform: scale(1.05);
    color: white;
    }
}