$colores:(
    color-primario: rgb(219, 216, 200),
    color-secundario: darkgray,
    color-terciario: rgb(74, 116, 91),
    color-box-shadow: rgba(0, 0, 0, 0.4),
    color-border: rgb(12, 63, 55),
    color-texto: black,
)
