
/*estilos del footer*/
footer {
    background-color: rgb(219, 216, 200);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    color: rgb(0, 0, 0);
    grid-area: footer;
    .derechos{ 
        p{
            text-align: left;
            font-family: "Nunito Sans", sans-serif;
            color: black;}
        }
    .redes-sociales {
        margin-top: 1rem;
        text-align: right;
        a {
            margin-left: 10px;
            color: black;
            font-size: 20px;
            text-decoration: none;
            border: none;
            &:hover {
            color: rgb(74, 116, 91);
            }
        }
    }
}



