@use '../base/variables';

.mi-header {
    background-color: variables.$color-primario;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    grid-area: header;

    .logo-header img {
        width: 300px;
    }

    .nav-container {
        // Estilos para Desktop
        .nav-menu ul {
            display: flex;
            align-items: center;
            gap: 20px;
            list-style: none;

            li {
                position: relative;

                a {
                    font-family: "Nunito Sans", sans-serif;
                    font-size: 1.2rem;
                    font-weight: 700;
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: variables.$color-terciario;
                    }
                }

                // ----- SUBMENU (Desktop) -----
                &.submenu {
                    &:hover > ul { // ABRE el submenu en desktop
                        display: block;
                    }

                    > ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: variables.$color-primario;
                        border-radius: 4px;
                        box-shadow: 0 0 10px variables.$color-box-shadow;
                        min-width: 150px;
                        padding: 0;
                        z-index: 9999;

                        li {
                            padding: 10px;

                            a {
                                padding: 10px 15px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        // CLASE DE UTILIDAD: Permite que el JS abra el submenú en móvil
        // Corregido: Anidado correctamente para que el selector funcione.
        .nav-menu ul li.submenu.open {
            > ul {
                display: block !important;
            }
        }
    }

    // ----- Hamburguesa (Ícono) -----
    .hamburguesa {
        color: black;
        font-size: 30px;
        display: none; // Oculto por defecto en desktop
        cursor: pointer;
        z-index: 1100;
    }
}

// CLASE DE UTILIDAD: Aplicada por JS para mostrar el menú principal
.nav-container.active {
    transform: translateX(0) !important;
}