.mi-header {
    background-color: $color-primario;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    grid-area: header;

    .logo-header img {
        width: 300px;
    }

    .nav-container {
        .nav-menu {
            ul {
                display: flex;
                align-items: center;
                gap: 20px;
                list-style: none;

                li {
                    position: relative;

                    a {
                        font-family: "Nunito Sans", sans-serif;
                        font-size: 1.2rem;
                        font-weight: 700;
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: $color-terciario;
                        }
                    }
                }

                /* ----- SUBMENU ----- */
                li.submenu {
                    > ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: $color-primario;
                        border-radius: 4px;
                        box-shadow: 0 0 10px $color-box-shadow;
                        min-width: 150px;
                        padding: 0;
                        z-index: 9999;

                        li {
                            padding: 10px;

                            a {
                                padding: 10px 15px;
                                display: block;
                            }
                        }
                    }
                }
            }

            /* ESTE ES EL FIX */

        }
    }
}

/* Hamburguesa */
.hamburguesa {
    color: black;
    font-size: 30px;
    display: none;
    cursor: pointer;
}
