@use '../base/variables';

/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
}

/*

/*estilos del body y main*/

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
    background-color: variables.$color-secundario;

    .main-container {
        min-height: 70vh;
        margin: 2rem;
        padding: 2rem;
        width: min(1400px, 90%);
        margin: 0 auto;
        grid-area: main;

        .section {
            margin: 2rem;
            padding: 2rem;
            text-align: justify;
            font-family: "Nunito Sans", sans-serif;
            color: variables.$color-texto;
            background-color: variables.$color-primario;
            border: variables.$color-terciario 2px solid;
            box-shadow: 0 4px 10px variables.$color-box-shadow;

            /*estilo del encabezado*/
            .encabezado {
                font-family: "Nunito Sans", sans-serif;
                color: variables.$color-border;
                margin-bottom: 2rem;
            }

            p {
                &:last-of-type {
                    font-weight: bold;
                    color: rgb(49, 51, 77);
                }
            }

            a {
                text-decoration: none;
                color: variables.$color-border;

                .texto-catalogo {
                    font-weight: bold;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 6px 15px variables.$color-box-shadow;
                        transition: 0.3s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}