@use '../base/variables';
/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
}

/*

/*estilos del main*/

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
    background-color: variables.$color-secundario;
    .main-container {
        min-height: 70vh;
        margin: 2rem;
        padding: 2rem;
        width: min(1400px, 90%);
        margin: 0 auto;
        grid-area: main;
            .section {
            margin: 2rem;
            padding: 2rem;
            text-align: justify;
            font-family: "Nunito Sans", sans-serif;
            color: black;
            background-color: rgb(219, 216, 200);
            border: #768d80 2px solid;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                .encabezado {
                    font-family: "Nunito Sans", sans-serif;
                    color: rgb(12, 63, 55);
                    margin-bottom: 2rem;
                    }
                    p{
                    &:last-of-type {
                        font-weight: bold;
                        color: rgb(49, 51, 77);
                        }    
                    }     
                    a {
                        text-decoration: none;
                        color: rgb(12, 63, 55);
                        .texto-catalogo {
                            font-weight: bold;
                            &:hover {
                                transform: scale(1.05);
                                box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
                                transition: 0.3s;
                                cursor: pointer;
                    }
                }
            }       
        }
    }
}








