/* ================================
   MENÚ / HEADER
==================================*/
@media (max-width: 991px) {
    .hamburguesa {
        display: block;
    }

    .mi-header .nav-menu {
        display: none; // oculto el menú hasta que se haga toggle con JS
    }

    .mi-header .nav-menu ul {
        flex-direction: column;
        background-color: rgb(219, 216, 200);
        padding: 20px;
        position: absolute;
        top: 80px;
        right: 0;
        width: 70%;
        z-index: 10;
    }
}

/* ================================
   LOGO
==================================*/
@media (max-width: 600px) {
    .mi-header .logo-header img {
        width: 180px;
    }
}

/* ================================
   MAIN Y SECCIONES
==================================*/
@media (max-width: 600px) {
    main {
        margin: 0;
        padding: 0;
    }

    section {
        margin: 1rem;
        padding: 1rem;
    }
}

/* ================================
   GRILLAS & FOTOS
==================================*/

/* Desktop grande */
@media (min-width: 992px) {
    section .muebles-grilla img {
        max-width: 80%;
        margin: 0 auto;
    }

    .section-fotos .asientos img {
        max-width: 80%;
        margin: 0 auto;
    }
}

/* Mobile / Tablet */
@media (max-width: 768px) {
    section .muebles-grilla {
        grid-template-columns: 1fr ;
    }

    section .fotos-muebles {
        grid-template-columns: 1fr;
    }

    .section-fotos .asientos {
        grid-template-columns: 1fr;
    }
}

/* ================================
   FORMULARIO CONTACTO
==================================*/
@media (max-width: 768px) {
    .contacto {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* ================================
   FOOTER
==================================*/
@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .redes-sociales {
        text-align: center;
        margin-top: 1rem;
    }

    .redes-sociales a img {
        width: 25px;
    }
}
